In [2]:
import pandas as pd
import json

In [9]:
with open('strapi-admin-panel.subjects.json') as subjects:
    db=json.load(subjects)

In [10]:
df=pd.DataFrame.from_dict(db)

In [12]:
df = df.iloc[:, :4]

In [13]:
df

,_id,units,title,shortName
0,{'$oid': '6242eaf1f0d2f30016378701'},[],Algebra and Geometry,AG
1,{'$oid': '607018ee404ae53194e73d92'},[{'$oid': '6070215c3ac49b166056d2c5'}],Mathematics,Math
2,{'$oid': '62a585bac9d45595b0c1afb7'},[],Biology,Bio
3,{'$oid': '624d67733e98d400162041a1'},[],Aptitude,APT
4,{'$oid': '6242eae1f0d2f30016378700'},[],Linguistics,Linguistics
5,{'$oid': '607018ee404ae53194e73d93'},[{'$oid': '6070215c3ac49b166056d2c8'}],English and Logical Reasoning,Elr
6,{'$oid': '6242eabaf0d2f300163786fe'},[],Arithmetic and Basic PCM,Arithmetic and Basic PCM
7,{'$oid': '607018ee404ae53194e73d91'},[{'$oid': '6070215c3ac49b166056d2c7'}],Chemistry,Chem
8,{'$oid': '6242eac6f0d2f300163786ff'},[],Logical Reasoning,LR
9,{'$oid': '624d671c3e98d400162041a0'},[],English,ENG
10,{'$oid': '62a58608c9d45595b0c1afb8'},[],General Test,GK
11,{'$oid': '607018ee404ae53194e73d90'},[{'$oid': '6070215c3ac49b166056d2c6'}],Physics,Phy

In [19]:
df['_id']=df['_id'].apply(lambda x:x.get('$oid'))
df

,_id,units,title,shortName
0,6242eaf1f0d2f30016378701,[],Algebra and Geometry,AG
1,607018ee404ae53194e73d92,[{'$oid': '6070215c3ac49b166056d2c5'}],Mathematics,Math
2,62a585bac9d45595b0c1afb7,[],Biology,Bio
3,624d67733e98d400162041a1,[],Aptitude,APT
4,6242eae1f0d2f30016378700,[],Linguistics,Linguistics
5,607018ee404ae53194e73d93,[{'$oid': '6070215c3ac49b166056d2c8'}],English and Logical Reasoning,Elr
6,6242eabaf0d2f300163786fe,[],Arithmetic and Basic PCM,Arithmetic and Basic PCM
7,607018ee404ae53194e73d91,[{'$oid': '6070215c3ac49b166056d2c7'}],Chemistry,Chem
8,6242eac6f0d2f300163786ff,[],Logical Reasoning,LR
9,624d671c3e98d400162041a0,[],English,ENG
10,62a58608c9d45595b0c1afb8,[],General Test,GK
11,607018ee404ae53194e73d90,[{'$oid': '6070215c3ac49b166056d2c6'}],Physics,Phy

In [20]:
# df['units']=df['units'].apply(lambda x:x.get('$oid'))

AttributeError: 'list' object has no attribute 'get'